* {
   
    font-family: "Raleway", sans-serif;
  }
<<<<<<< HEAD

  .color-nav{
    background-color: rgb(95, 175,32);
  }


  #collasible-nav-dropdown{
    color: white;
   
   
}

=======
  
>>>>>>> 1960b60ceabead59cd48ffe5aeab3e795a76f649
