
.navbar{
  font-family: 'Pacifico', cursive;
    background-image: linear-gradient(-90deg, rgb(22, 228, 22), rgb(0, 53, 0));
}
.nav-link {
    font-size: 22px;
    margin: 3px;
    font-weight: 500;
    color:white !important;
    font-family: 'Signika', sans-serif;
}





.nombre_logo{
  font-family: 'Pacifico', cursive;
  font-size: 36px;
}

.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.nav-link:hover{
    font-weight: 700;
    border-bottom: 1px solid white;
    
}
.navbar-brand img{
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
}
.img-carrito{
    width: 25px;
    height: 20px;
}
@media only screen and (max-width: 1000px){
    .nav-link:hover{
        border-bottom: none!important;
    }
}
* {
    font-family: "Spartan", sans-serif;
   
  }
  .card:hover{
      box-shadow: 2px 2px 2px 2px gainsboro;
      transition: all 0.3s linear;
  }
  .card-img-top:hover{
      transform: scale(1.8);
  }
  .card-body{
      overflow: hidden;
  }

  .slider_title {
    font-size: 5vw;
    color: tomato;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2vw;
  }
  
  .card-wrapper {
    position: relative;
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .card-wrapper:active, .card-wrapper:hover, .card-wrapper:focus {
    outline: none;
    border: none;
  }
  
  .card {
    width: 100%;
    height: 350px;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }
  
  .card .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .card .card-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .card:hover img {
    opacity: .4;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .card:hover .card-image {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition: all .9s;
    transition: all .9s;
  }
  
  .social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .social-icons li {
    list-style: none;
  }
  
  .social-icons li a {
    align-items: center;
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 23px;
    color: #333;
    font-weight: bold;
    margin: 0 6px;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  .social-icons li a:hover {
    background: #000;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .social-icons li a .fa {
    -webkit-transition: .8s;
    transition: .8s;
  }
  
  .card:hover li:nth-child(1) a {
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
  }
  
  .card:hover li:nth-child(2) a {
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  
  .card:hover li:nth-child(3) a {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  
  .card:hover li:nth-child(4) a {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  
  .details {
    position: absolute;
    bottom: 400px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 10px;
    -webkit-transition: .6s;
    transition: .6s;
  }
  
  .details .btn {
    margin: 50px;
    padding: 0;
    text-align: center;
  }
  
  .details h2 .job-title {
    font-size: 16px;
    line-height: 2;
    color: #333;
    font-weight: 300;
    display: block;
  }
  .details .btn{
    display:block;
  }
  
  .card:hover .details {
    bottom: 0;
  }

  a{
    bottom:0;
  }
  
  .carousel .slick-dots {
    bottom: -2.5vw;
  }
  
  .carousel .slick-dots li button {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
  }
  
  .carousel .slick-dots li button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    content: "";
    text-align: center;
    opacity: .5;
    color: #000;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  .carousel .slick-dots li.slick-active button, .carousel .slick-dots li:hover button {
    border-color: tomato;
  }
  
  .carousel .slick-dots li.slick-active button:before, .carousel .slick-dots li:hover button:before {
    background-color: tomato;
    opacity: 1;
  }
  
  .carousel .slick-prev, .carousel .slick-next {
    width: 50px;
    height: 50px;
    background-color: #fff;
  }
  
  .carousel .slick-prev:hover, .carousel .slick-prev:focus, .carousel .slick-next:hover, .carousel .slick-next:focus {
    color: #fff;
    outline: none;
    background: #fff;
  }
  
  .carousel .slick-prev:before, .carousel .slick-next:before {
    color: #000;
    font-family: "Raleway", sans-serif;
  }
  
  .carousel .slick-next {
    right: -55px;
  }
  
  .carousel .slick-prev {
    left: -55px;
  }
