.navbar{
    background-image: linear-gradient(-90deg, rgb(22, 228, 22), rgb(0, 53, 0));
}
.nav-link {
    font-size: 16px;
    margin: 3px;
    color: white;
    font-weight: 500;
}
.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid black;
}
.navbar-brand img{
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
}
@media only screen and (max-width: 1000px){
    .nav-link:hover{
        border-bottom: none!important;
    }
}
* {
    font-family: "Spartan", sans-serif;
  }
  .card:hover{
      box-shadow: 2px 2px 2px 2px gainsboro;
      transition: all 0.3s linear;
  }
  .card-img-top:hover{
      transform: scale(1.8);
  }
  .card-body{
      overflow: hidden;
  }